@tailwind base;
@tailwind components; 
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

@supports (-webkit-touch-callout: none) {
    /* CSS specific to iOS devices */ 
  .vh-safari {
  height: calc(100vh - 60px);
  }
}

svg.menu-icon path {
  fill:none;
  stroke:#4E0F10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-width:2
}

@layer base {

  
  

}